.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	padding: 10px 20px;
	width: 100%;
	background-color: transparent;

	&:disabled {
		opacity: 0.3;
		pointer-events: none;
	}

	&.button--white {
		background-color: #fff;
	}

	&.button--grey {
		background-color: #e1e1e1;
	}
}
